* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(63, 173, 63);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 2em auto;
    text-align: center;
}

.btn-again {
    margin: 10px;
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
    border: none;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.between {
    position: absolute;
    right: 10px;
    margin: 10px;
}

.number {
    border: 1px solid #fff;
    text-align: center;
    padding: 15px 30px;
    background-color: #fff;
    margin: 0 20em;
}

.left {
    margin: 2em;
}

.guess {
    border: 1px solid #fff;
    padding: 15px 30px;
    text-align: center;
    width: 20%;
}

.check {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: none;
    display: block;
    margin: 10px 30px;
}

.right {
    position: absolute;
    right: 20px;
    top: 20em;
}